body{font-family: 'arial', sans-serif; padding: none;}

#main{width: 100%;}

#logo{background: url(https://www.google.co.uk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) no-repeat bottom; height: 92px; width: 272px; padding: 170px 0px 0px 0px; margin: 0 auto;}
form{width: 489px; margin: 0 auto;}

#search-box{padding:0px; margin-top: 30px; height: 38px; width: 486px; border: 1px solid #e0e0e0; text-align: center;}
input[type="text"]{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat right;
	background-size:25px;
	height: 32px;
	width: 463px;
	border: none;
	outline:none;
	margin-top: 2px;
	padding: 0px 9px 0;
}
input[type="submit"]{padding: 10px; margin: 30px 2px; -webkit-apperance: none; -webkit-border-radius: 3px; border-radius: 3px; box-shadow: none; -webkit-box-shadow:none; border: none; font-weight: bold; color: #777; background-color: #f2f2f2;}
#submit-buttons{margin: 0 auto; width: 489px; text-align: center;}
#footer{width: 100%; height: 40px;display: inline-block;position: absolute;bottom: 0px;background: #f2f2f2;border-top: 1px solid #e4e4e4;
}

ul{
	list-style-type: none;
}
li{display: inline-block; padding-right: 15px; font-size: 10pt; color: #555;}

#lf{float: left;}

#rf{float: right;}
#top-nav ul li{float: right;}
#top-nav ul li:last-child {
	opacity: .55;
}

#user {
	background-image: url(images/photo.jpg);
	-webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -8px 15px 0 0;
    overflow: hidden;
    height: 32px;
    width: 32px;
    padding: 0px;
}
#bell{
	background-image: url(images/icons.png);
	background-position: -194px -21px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
   	display: inline-block;
   	outline: none;
    height: 20px;
    width: 20px;
    background-color: rgba(0,0,0,.55);
    padding: 0px;
    margin: -2px 30px 0 0;
}
#squares {
	background-image: url(images/icons.png);
	background-position: -132px -38px;
	display: inline-block;
    outline: none;
    height: 30px;
    width: 30px;
    opacity: .55;
    margin: -7px 20px 0 0;
    padding: 0px;

}
